
footer i {
	color: red;
  }
  
  footer a {
	color: #3c97bf;
	text-decoration: none;
  }
  
  .custom-helper-title {
	font-family: "Montserrat", sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #03BFCB;
	text-transform: uppercase;
	margin: 10px 0;
  }
  
  .profile-container {
	/* Your existing styles */
  }
  
  .profile-picture-container {
	/* Your existing styles */
  }
  
  .profile-picture {
	/* Your existing styles */
  }
  
  .custom-profile-text {
	/* Your existing styles */
  }
  
