.help-slider-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.help-slider-card {
  width: 80px;
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help-slider-picture {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.custom-card {
  background-color: #f0f0f0;
  padding: 8px;
  border-radius: 6px;
  margin-top: 8px;
}

.custom-card-text {
  margin: 10px;
}

/* .custom-rating {
  font-size: 14px;
  margin-top: 6px;
  color: gold;
  font-size: 20px;
  text-align: center;
} */
.rating {
  color: gold;
  font-size: 20px;
  text-align: center;
}

.custom-profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #333;
  object-fit: cover;
}

.custom-card-body {
  margin-top: 10px;
}
