.help-page {
  height: 100vh;
  
  background-color: #f9fafb;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
 
}

@import url('https://fonts.googleapis.com/css?family=Arimo');

body {
  background: linear-gradient(to right, #62b6cb, #1b4965);
  background-color: #ffffff;
  height: 100vh;
  overflow-y: auto;
  margin-bottom: 20px;
  font-family: 'Arimo', sans-serif;
}

.card-title,
.card-text,
.btn-new-post,
.popup-container button {
  font-family: 'Arimo', sans-serif;
}

  @keyframes move {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .shape {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    animation: move 3s infinite;
  }
  
  .shape:nth-child(1) {
    top: 50px;
    left: 100px;
  }
  
  .shape:nth-child(2) {
    top: 150px;
    left: 200px;
  }
  
  .shape:nth-child(3) {
    top: 250px;
    left: 300px;
  }
  
  

  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    padding-top: 50px;
   
   
  }

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  padding-bottom: 10px;
  margin-bottom: 25px;
 
}

.card:hover {
  transform: translateY(-5px);
}

.profile_image {
  position: absolute;
  top: 10px; 
  left: 20px; 
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: #1b4965 solid 2px;
  margin-left: 10px;
  margin-top: 10px;
}
.candidate-profile-image{
  /* position: absolute; */
  top: 20em; 
  left: 20px; 
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: #1b4965 solid 2px;
  margin-left: 10px;
  margin-top: 10px;
}
.card-images {
  display: flex;
  justify-content: center;
  gap: 10px;
  max-width: 100%;
}

.image-wrapper {
  width: calc((100% - 10px * (3 - 1)) / 3);
  height: auto;
  object-fit: cover;
  margin-top: 20px;
  /* border-radius: 10px; */
  overflow: hidden;
  border: #1b4965 solid 2px;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-lightbox {
  max-width: 800px;
  max-height: 600px;
  margin: 0 auto;
}

.input-container {
  margin-bottom: 100px;
}

.btn-new-post {
  margin-top: 80px;
  background-color: #62b6cb;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto; 
  white-space: nowrap;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: #1b4965;
}



.card-title {
  color: #1b4965;
  font-size: 20px;
  font-weight: bold;
  align-items: left;
  padding-bottom: 70px;
}

.card-text {
  
  color: hsl(203, 58%, 25%);
  /* border-radius: 5px; */
  padding: 50px;
  border: #1b4965 solid 3px;
  overflow: auto; 
  flex-grow: 1;
  max-width: 100%; 
 
}
.custom-card-text{
  color: hsl(203, 58%, 25%);
  /* border-radius: 5px; */
  padding: 50px;
  border: #1b4965 solid 3px;
  overflow: auto; 
  flex-grow: 1;
  max-width: 100%; 
  margin-top: 70px;

}

.popup-container button {
  background-color: #c6e0f3;
  color: #1b4965;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  z-index: 2222;
}

.popup-container button:hover {
  background-color: #5fa8d3;
  color: #ffffff;
}

.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 20px;
}

.popup-container button {
  display: inline-block;
}



body {
  background-color: #f9fafb;
}

.card-container {
  margin: 100px;
}

.card {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(236, 236, 236, 0.2), 0 0 20px rgba(236, 236, 236, 0.2), 0 0 30px rgba(236, 236, 236, 0.2), 0 0 40px rgba(236, 236, 236, 0.2);
  text-shadow: 0 0 5px rgba(236, 236, 236, 0.5), 0 0 20px rgba(236, 236, 236, 0.5), 0 0 30px rgba(236, 236, 236, 0.5);
}


.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.btn {
  background-color: #62b6cb;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background-color: #1b4965;
}

.popup-container button {
  background-color: #cae9ff;
  color: #1b4965;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.popup-container button:hover {
  background-color: #5fa8d3;
  color: #ffffff;
  margin-bottom: 50px;
}

/* styles.css */
.alert {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #f0f0f0;
  padding: 10px 20px;
  border-radius: 5px;
}




