.navbar {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  color: #333333;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-brand:hover {
  color: #007bff;
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar-link {
  margin-right: 10px;
}

.navbar-link:last-child {
  margin-right: 0;
}

.navbar-link a {
  color: #333333;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-link a:hover {
  color: #007bff;
}

.ml-auto {
  display: flex;
  align-items: center;
  width: 250px;
}

.navbar-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #62b6cb;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.navbar-button:hover {
  background-color: #1b4965;
}

.button-spacing {
  margin-right: 10px;
}

.logout-button {
  margin-top: 20px;
  background-color: #62b6cb;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.logout-button:hover {
  background-color: #1b4965;
}

.logout-button:last-child {
  margin-right: 0;
}

.navbar-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

