.custom-update-profile-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.custom-profile-picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.custom-profile-image-label {
  font-weight: bold;
}

.custom-profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.custom-input-group {
  margin-bottom: 15px;
}

.custom-input,
.custom-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.custom-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #0069d9;
}
