.custom-video-container {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #f0f0f5; /* Neumorphism background color */
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2),
    -8px -8px 16px rgba(255, 255, 255, 0.8); /* Neumorphism box shadow */
  
  overflow: hidden; /* Hide overflow for the video element */
}

.custom-text-overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  color: white;
  font-size: 34px;
  display: flex;
  align-items: center;
}

.custom-text {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  margin-right: 10px;
  white-space: nowrap;
}

.custom-text.visible {
  opacity: 1;
}

.custom-video-element {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
